@tailwind base;
:root {
    --primary: black;
    --secondary: white;
    --tertiary: blue;
    --scrollbar-width: 15px;
  }

* {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--primary);
  }
  
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 15px;
  }
  
  *::-webkit-scrollbar-track {
    background: var(--primary);
    border-radius: 5px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 14px;
    border: 3px solid var(--primary);
  }

  html {
    scrollbar-gutter: stable both-edges; 
  }
@tailwind components;
@tailwind utilities;

body {
    @apply bg-black;
    @apply text-white;
    @apply my-0;
    @apply box-border;
    /* @apply cursor-none */
    scrollbar-gutter: stable;

}





@layer components {
  .dynamic-nav {
    @apply relative p-4 flex z-50;
  }
  .dynamic-header{
    @apply relative h-auto flex justify-center;
  }
  @screen sm {
    h1{
      font-size: 1.5rem;
      text-align: center;

    }
    .text-grid{
      @apply grid-cols-1 
    }
    .project-text{
      @apply w-full
    }
    .dynamic-nav{
      @apply justify-center items-center;
    }
    .main-container {
      max-width: 100%;
      overflow-x: hidden;
      position: relative;
    }

  }

  @screen md {
    .text-grid {
      @apply grid-cols-2;
    }
    .dynamic-nav {
      @apply justify-center items-center;
    }
  }

  @screen lg {
    .dynamic-nav{
      @apply justify-center items-center;
    }
    .project-text{
      @apply w-3/4
    }
    .dynamic-header{
      @apply fixed w-screen max-h-[15rem]
    }
    h1{
      font-size: 3rem;
    }
    .wrapper-container {
      max-width: 100%;
      overflow-x: hidden;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .main-container {
      max-width: 80%;
      overflow-x: hidden;
      position: relative;
    }
  }

  @screen xl {
    .icon{
      padding: 3px 4px 3px 4px;
    }
    .nav-button{
      padding: 2px 4px 2px 4px;
      width: 10rem;
    }

  }

  /* .text-grid{
    @apply grid-cols-1 
  }
  .project-text{
    @apply w-full
  }
  .dynamic-nav{
    @apply relative p-4 flex justify-between z-50;
  }
  .dynamic-header{
    @apply relative h-auto
  } */

  .dynamic-nav{
    @apply relative p-4 flex justify-between z-50;
  }
  .project-text{
    @apply w-full
  }
  /* a {
    cursor: none;
    
  } */
  
  p { 
    /* font-size: 0.5rem; */
    word-break: break-word !important; 
    -webkit-hyphens: auto !important; 
    -moz-hyphens: auto !important; 
    -ms-hyphens: auto !important; 
    -o-hyphens: auto !important; 
    hyphens: auto !important;
    }

  h2 {
      font-family: "Bricolage Grotesque", sans-serif;
      font-weight: 300;
      font-optical-sizing: auto;
      /* font-style: normal; */
      font-style: normal;
      margin-bottom: 10px;
      font-size: 3.5rem;
      font-variation-settings:
      "wdth" 87.5;
  }
  h3{
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 300;
    color:white;
    margin-bottom: 10px;
  }
  
  .heading-4 {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 300;
      font-size: 1rem;
  }
  p {
      font-family: "Lato", sans-serif;
      color:rgb(255, 255, 255, 0.8);
      font-weight: 300;
      font-size: 1rem;
    }

  @media (max-width: 768px){
    h2{
      font-family: "Bricolage Grotesque", sans-serif;
      font-weight: 300;
      /* font-style: italic; */
      margin-bottom: 10px;
      font-size: 42px;
    }
      h1{
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 300;
    font-optical-sizing: auto;
    /* font-style: normal; */
    /* font-style: italic; */
    margin-bottom: 10px;
    font-size: 1.5rem;
    text-align: center;
    font-variation-settings:
    "wdth" 100;
  }
  }

  @media (max-width: 1536px){

    h1{
      font-family: "Bricolage Grotesque", sans-serif;
      font-weight: 300;
      color:white;
      margin-bottom: 10px;
      text-align: left;
      font-variation-settings:
        "wdth" 10;
      /* font-size: 1.5rem; */
    }

    
  }

  @media (min-width: 1537px){
    h1{
      font-family: "Bricolage Grotesque", sans-serif;
      font-weight: 300;
      font-optical-sizing: auto;
      text-align: left;
      /* font-style: normal; */
      /* font-style: italic; */
      color:white;
      
      margin-bottom: 10px;
      font-size: 3rem;
      font-variation-settings:
      "wdth" 100;
    }
    .main-container {
      max-width: 70%;
      overflow-x: hidden;
      position: relative;
    }
  }





  .btn {
      @apply bg-[#12b488] text-white px-3 py-2 rounded-md text-sm text-white;
  }
  .card {
      @apply  p-3 bg-white h-full;
  }
  .remove-scrollbar {
      -ms-overflow-style: none;  /* IE + Edge */
      scrollbar-width: none;  /* Firefox */
    }
  .h-95 {
      height: 95vh
  }

  .h-custom-80 {
    height: 80vh;
  }

  .translate-x-26 {
    transform: translateX(6.5rem);
  }

  .contact-button{
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    font-weight: 300;

    padding: 4px 8px 4px 8px;
    margin: 4px;
    border: 1px solid #ffffff;
    border-radius: 5px;
  }
  .contact-button:hover{
    background-color: rgb(190 18 60);
    
    transition: 0.2s ease-in-out;
  }

  .scale-custom-60{
    transform: scale(.6);
  }

  .h-custom-90 {
    height: 90vh
}
  .w-custom-80 {
      width: 80vw
  }

  .w-150-centered{
    /* overflow: hidden; */
    width: 150vw;
    /* display: flex;
    inset: 0; */
  }

  .w-custom-50 {
    width: 50vw;
  }

  .w-custom-40 {
    width: 40vw;
  }

  .w-custom-30 {
      width: 30vw
  }

  .occlusion-div{
    position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Initial background color */
  opacity: 0; /* Initial opacity */
  transition: opacity 0.3s ease; 

  
  }
  /* .image-container {
      max-width: 25vw;
  } */
}

